
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Aseguradora</title>
</head>
<body>
    <table class="table table-responsive-sm table-hover" id="myTable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Imagen</th>
                <th>Nombre</th>
                <th>Fecha de creacion</th>
                <th>Fecha de modificacion</th>
         
            </tr>
        </thead>
        <tbody>
           
                    @*<td>@usuario.Password</td>
                    <td>@usuario.Sexo</td>
                    <td>@usuario.Telefono</td>
                    <td>@usuario.Celular</td>
                    <td>@usuario.FechaNacimiento</td>
                    <td>@usuario.CURP</td>*@
             
        </tbody>
    </table>
</body>
</html>
