@model ML.Aseguradora
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<center>
    <h2>Registrar de Aseguradoras</h2>
</center>
<hr />


@using (Html.BeginForm("Form", "Aseguradora", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(model => model.IdAseguradora)
   

    <div class="row">
        <div class=" col md-3">
            @Html.LabelFor(model => model.Nombre)
            @Html.TextBoxFor(model => model.Nombre, new { @class = "form-control" })
        </div>
        <div class="col md-3">
            @Html.LabelFor(model => model.Usuario.IdUsuario)
            @Html.TextBoxFor(model => model.Usuario.IdUsuario, new { @class = "form-control" })
        </div>

    </div>
    <br />
    <br />

    @*Botones*@
    <center>
        <button id="btnGuardar" class="btn btn-success" type="submit"><i class="bi bi-life-preserver"></i>  Guardar</button>
        <a id="btnCancelar" class="btn btn-outline-danger" href="@Url.Action("GetAll", "Aseguradora")"><i class="fa-solid fa-xmark"></i>  Volver</a>

    </center>
}
@Scripts.Render("~/bundles/jquery")
<script type="text/javascript">

    /*Botones */
    $('#btnGuardar').hover(
        function () {
            $(this).addClass('fa-beat');
        },
        function () {
            $(this).removeClass('fa-beat');
        }
    );

    $('#btnCancelar').hover(
        function () {
            $(this).addClass('fa-shake');
        },
        function () {
            $(this).removeClass('fa-shake');
        }
    );
</script>