@model ML.Aseguradora
@{
    ViewBag.Title = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Aseguradoras</h2>

<hr />
<a href="@Url.Action("Form","Aseguradora")" class="btn btn-default" style="background-color:yellowgreen"><i class="fa-solid fa-user-plus fa-beat" style="color: #1e3050;"></i></a>
<br />
<table class="table table-responsive-sm table-hover" id="myTable">
    <thead>
        <tr>
            <th>Editar</th>
            <th>Id Aseguradora</th>
            <th>Nombre</th>
            <th>Fecha de Modificacion </th>
            <th>Fecha de Creacion</th>
            <!--<th>Email</th>-->
            @*<th>Password</th>
                <th>Sexo</th>
                <th>Telefono</th>
                <th>Celular</th>
                <th>Fecha de Nacimiento</th>
                <th>CURP</th>*@
            <!--<th>Rol</th>
            <th>Direccion</th>
            <th>Estatus</th>-->
            <th>Usuario Asignado</th>
            <th>Eliminar</th>


        </tr>
    </thead>
    <tbody>

        @foreach (ML.Aseguradora aseguradora in Model.Aseguradoras)
        {
        
            <tr>
                <td><a class="btn btn-warning" href="@Url.Action("Form", "Aseguradora", new {IdAseguradora = aseguradora.IdAseguradora })"><i class="fa-solid fa-pen" style="color: #fff;"></i></a></td>
                <td>@aseguradora.IdAseguradora</td>
                <td>@aseguradora.Nombre</td>
                <td>@aseguradora.FechaModificacion</td>
                <td>@aseguradora.FechaCreacion</td>
                <td>@aseguradora.Usuario.IdUsuario</td>
                <td><a class="btn btn-danger" href="@Url.Action("Delete","Aseguradora", new { IdAseguradora = aseguradora.IdAseguradora })" onclick=" return confirm('¿Estas seguro que deseas eliminar esta registro?')"><i class="fa-solid fa-trash" style="color: #fffff;"></i></a></td>
            </tr>
        }
    </tbody>
</table>